<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from coderthemes.com/konrix/layouts/apps-calendar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2024 06:31:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>Tracer Study - SMK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="coderthemes" name="author">

    <link href="../../assets/images/smk-bp.png" rel="icon" type="image/png">

    <!-- App css -->
    <link href="../../assets/css/app.min.css" rel="stylesheet" type="text/css">

    <!-- Icons css -->
    <link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- Theme Config Js -->
    <script src="../../assets/js/config.js"></script>
</head>

<body>

    <div class="flex wrapper">

        <!-- Sidenav Menu -->
        <%- include ('../../components/sidebar_admin') %>

            <div class="page-content">

                <%- include ('../../components/header_admin') %>

                    <main class="flex-grow p-6">
                        <!-- Page Title Start -->
                        <div class="flex justify-between items-center mb-6">
                            <!-- button back -->
                            <div class="flex items-center">
                                <!-- button back -->
                                <a href="/admin/alumni-list/<%= alumni.nisn %>" class="btn btn-ghost">
                                    <i class="mgc_left_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                                </a>

                                <h4 class="text-slate-700 dark:text-slate-200 text-lg font-medium">
                                    Edit
                                </h4>
                            </div>

                            <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
                                <div class="flex items-center gap-2">
                                    <a href="/admin"
                                        class="text-sm font-medium text-slate-700 dark:text-slate-400">Alumni</a>
                                </div>

                                <div class="flex items-center gap-2">
                                    <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                                    <a href="/admin/alumni-list"
                                        class="text-sm font-medium text-slate-700 dark:text-slate-400">Daftar Alumni</a>
                                </div>
                                <div class="flex items-center gap-2">
                                    <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                                    <a href="/admin/alumni-list/<%= alumni.nisn %>"" class=" text-sm font-medium
                                        text-slate-700 dark:text-slate-400">Detail
                                    </a>
                                </div>
                                <div class="flex items-center gap-2">
                                    <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                                    <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400">Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Page Title End -->

                        <div class="col-span-2">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit Alumni</h4>
                                </div>

                                <div class="p-6 data" data-alumni="<%= alumni %>">
                                    <% if (error_msg.length> 0) { %>
                                        <div class="alert bg-danger/25 text-danger text-sm rounded-md p-4 my-3"
                                            role="alert">
                                            <span class="font-bold">Error :</span>
                                            <%= error_msg %>
                                        </div>
                                        <% } %>

                                            <% if (success_msg.length> 0) { %>
                                                <div class="alert alert-success bg-success/25 text-success text-sm rounded-md p-4 my-3"
                                                    role="alert" data-nisn="<%= alumni.nisn %>">
                                                    <span class=" font-bold">Success :</span>
                                                    <%= success_msg %>
                                                </div>
                                                <% } %>

                                                    <form method="POST"
                                                        action="/admin/alumni-edit/<%= alumni.nisn %>/?_method=PUT">
                                                        <div class="grid grid-cols-1 md:grid-cols-2  gap-6 mb-3">
                                                            <div class="md:col-span-2">
                                                                <p
                                                                    class="text-gray-800 text-sm font-medium inline-block mb-2 dark:text-slate-400">
                                                                    NISN</p>
                                                                <h2 class="dark:text-white">
                                                                    <%= alumni.nisn %>
                                                                </h2>
                                                            </div>
                                                            <div class="md:col-span-1">
                                                                <label for="name"
                                                                    class="text-gray-800 text-sm font-medium inline-block mb-2">Nama
                                                                    <span class="text-red-500">*</span></label>
                                                                <input type="text" class="form-input" id="name"
                                                                    placeholder="Masukkan Nama Alumni " required
                                                                    name="name"
                                                                    value="<%= typeof alumni.name !== 'undefined' ? alumni.name : '' %>">
                                                            </div>
                                                            <div>
                                                                <label for="password"
                                                                    class="text-gray-800 text-sm font-medium inline-block mb-2">
                                                                    Password <span class="text-red-500">*</span>
                                                                </label>
                                                                <input type="password" class="form-input" id="password"
                                                                    placeholder="Masukkan Password" required
                                                                    name="password" autocomplete="current-password"
                                                                    value="<%= typeof alumni.password !== 'undefined' ? alumni.password : '' %>">
                                                                <div class="form-check mt-2">
                                                                    <input type="checkbox"
                                                                        class="form-checkbox rounded text-primary"
                                                                        id="show-password">
                                                                    <label class="ms-1.5 text-sm"
                                                                        for="show-password">Lihat
                                                                        Password</label>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <label for="email"
                                                                    class="text-gray-800 text-sm font-medium inline-block mb-2">Email</label>
                                                                <input type="email" class="form-input" id="email"
                                                                    placeholder="Masukkan Email (Opsional)" name="email"
                                                                    autocomplete="email"
                                                                    value="<%= typeof alumni.email !== 'undefined' ? alumni.email : '' %>">
                                                            </div>

                                                            <div>
                                                                <label for="graduationYear"
                                                                    class="text-gray-800 text-sm font-medium inline-block mb-2">Tahun
                                                                    Lulus</label>
                                                                <input type="number" class="form-input"
                                                                    id="graduationYear"
                                                                    placeholder="Masukkan Tahun Lulus (Opsional)"
                                                                    name="graduationYear"
                                                                    value="<%= typeof alumni.graduationYear !== 'undefined' ? alumni.graduationYear : '' %>">
                                                            </div>


                                                        </div>


                                                        <div class="flex gap-3 mt-5">

                                                            <a href="/admin/alumni-list/<%= alumni.nisn %>">
                                                                <button type="button"
                                                                    class="btn bg-danger/25 text-danger hover:bg-danger hover:text-white">Batal</button>
                                                            </a>
                                                            <button type="submit"
                                                                class="btn bg-primary/25 text-primary hover:bg-primary hover:text-white">Simpan</button>
                                                        </div>

                                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>

                    <%- include('../../components/footer') %>
            </div>
    </div>

    <!-- Back to Top Button -->
    <button data-toggle="back-to-top"
        class="fixed hidden h-10 w-10 items-center justify-center rounded-full z-10 bottom-20 end-14 p-2.5 bg-primary cursor-pointer shadow-lg text-white">
        <i class="mgc_arrow_up_line text-lg"></i>
    </button>

    <!-- Plugin Js -->
    <script src="../../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../../assets/libs/feather-icons/feather.min.js"></script>
    <script src="../../assets/libs/%40frostui/tailwindcss/frostui.js"></script>

    <!-- App Js -->
    <script src="../../assets/js/app.js"></script>

    <script>
        // toggle password
        const passwordInput = document.getElementById('password');
        const showPasswordCheckbox = document.getElementById('show-password');

        showPasswordCheckbox.addEventListener('change', function () {
            if (showPasswordCheckbox.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });


        // alert 
        const alerts = document.querySelectorAll('.alert')
        for (let i = 0; i < alerts.length; i++) {
            setTimeout(() => {
                alerts[i].remove();
            }, 2500);
        }


        // redirect
        const alertSuccess = document.querySelector('.alert-success');
        if (alertSuccess) {
            setTimeout(() => {
                const nisn = alertSuccess.dataset.nisn;
                window.location.href = '/admin/alumni-list/' + nisn;
            }, 1500);
        }


    </script>

</body>


<!-- Mirrored from coderthemes.com/konrix/layouts/apps-calendar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2024 06:31:06 GMT -->

</html>