<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from coderthemes.com/konrix/layouts/apps-calendar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2024 06:31:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin - Detail Alumni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="coderthemes" name="author">

    <link href="../../assets/images/smk-bp.png" rel="icon" type="image/png">

    <!-- Gridjs Plugin css -->
    <link href="../../assets/libs/gridjs/theme/mermaid.min.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="../../assets/css/app.min.css" rel="stylesheet" type="text/css">

    <!-- Icons css -->
    <link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- Theme Config Js -->
    <script src="../../assets/js/config.js"></script>

</head>

<body>

    <div class="flex wrapper">

        <!-- Sidenav Menu -->
        <%- include ('../../components/sidebar_admin') %>

            <div class="page-content">

                <%- include ('../../components/topbar_admin') %>

                    <main class="flex-grow p-6">


                        <div class="fixed top-0 right-0 left-0 z-50 flex items-center justify-center">
                            <% if (success_msg && success_msg.length> 0) { %>
                                <div class="alert-success fixed bg-green-500 text-sm text-white rounded-md p-4 z-50 2xl:w-1/4 lg:w-1/3 w-3/4 mb-9 top-7"
                                    role="alert">
                                    <p>
                                        <%= success_msg %>
                                    </p>
                                </div>
                                <% } %>
                                    <% if (error_msg && error_msg.length> 0) { %>
                                        <div class="alert-error fixed bg-red-500 text-sm text-white rounded-md z-50 p-4 2xl:w-1/4 lg:w-1/3 w-3/4 mb-9 top-7"
                                            role="alert">
                                            <p>
                                                <%= error_msg %>
                                            </p>
                                        </div>
                                        <% } %>
                        </div>

                        <!-- Page Title Start -->
                        <div class="flex justify-between items-center mb-6">
                            <div class="flex items-center">
                                <!-- button back -->
                                <a href="/admin/alumni-list" class="btn btn-ghost">
                                    <i class="mgc_left_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                                </a>

                                <h4 class="text-slate-700 dark:text-slate-200 text-lg font-medium">
                                    Detail
                                </h4>
                            </div>

                            <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
                                <div class="flex items-center gap-2">
                                    <a href="/admin"
                                        class="text-sm font-medium text-slate-700 dark:text-slate-400">Alumni</a>
                                </div>

                                <div class="flex items-center gap-2">
                                    <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                                    <a href="/admin/alumni-list"
                                        class="text-sm font-medium text-slate-700 dark:text-slate-400">Daftar
                                        Alumni</a>
                                </div>
                                <div class="flex items-center gap-2">
                                    <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                                    <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400">Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Page Title End -->

                        <!-- Page Content Start -->
                        <div class="col-span-2">
                            <div class="card">
                                <div class="p-6">
                                    <div class="grid grid-cols-1 md:grid-cols-2  gap-6 mb-3">
                                        <div>
                                            <p
                                                class="text-gray-800 text-sm font-medium inline-block mb-2 dark:text-slate-400">
                                                NISN</p>
                                            <h2 class="dark:text-white">
                                                <%= alumni.nisn %>
                                            </h2>
                                        </div>
                                        <div>
                                            <p
                                                class="text-gray-800 text-sm font-medium inline-block mb-2 dark:text-slate-400">
                                                Nama</p>
                                            <h2 class="dark:text-white">
                                                <%= alumni.nama %>
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="mt-6 flex gap-3 w-full">
                                        <!-- button hapus -->
                                        <button class="btn bg-danger/25 text-danger hover:bg-danger hover:text-white"
                                            data-fc-target="modal-hapus" data-fc-type="modal" type="button">
                                            Hapus
                                        </button>
                                        <!-- modal hapus -->
                                        <div id="modal-hapus"
                                            class="w-full h-full mt-5 fixed top-0 left-0 z-50 transition-all duration-500 fc-modal hidden">
                                            <div
                                                class="fc-modal-open:opacity-100 duration-500 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto flex flex-col bg-white border shadow-sm rounded-md dark:bg-slate-800 dark:border-gray-700">
                                                <div
                                                    class="flex justify-between items-center py-2.5 px-4 border-b dark:border-gray-700">
                                                    <h3 class="font-medium text-gray-800 dark:text-white text-lg">
                                                        Peringatan!
                                                    </h3>
                                                    <button
                                                        class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 dark:text-gray-200"
                                                        data-fc-dismiss type="button">
                                                        <span class="material-symbols-rounded">close</span>
                                                    </button>
                                                </div>
                                                <div class="px-4 py-8 overflow-y-auto">
                                                    <p class="text-gray-800 dark:text-gray-200">
                                                        Tindakan ini akan menghapus data <b>
                                                            <%= alumni.nama %>
                                                        </b>. Apakah anda yakin?
                                                    </p>
                                                </div>
                                                <div
                                                    class="flex justify-end items-center gap-4 p-4 border-t dark:border-slate-700">
                                                    <button
                                                        class="btn dark:text-gray-200 border border-slate-200 dark:border-slate-700 hover:bg-slate-100 hover:dark:bg-slate-700 transition-all"
                                                        data-fc-dismiss type="button">Close
                                                    </button>
                                                    <form action="/admin/alumni-list/<%= alumni.nisn %>/?_method=DELETE"
                                                        method="POST">
                                                        <button type="submit"
                                                            class="btn bg-danger text-white">Hapus</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- button edit -->
                                        <button class="btn bg-primary/25 text-primary hover:bg-primary hover:text-white"
                                            data-fc-target="modal-edit" data-fc-type="modal" type="button">
                                            Edit
                                        </button>
                                        <!-- modal edit -->
                                        <div id="modal-edit"
                                            class="w-full h-full mt-5 fixed top-0 left-0 z-50 transition-all duration-500 fc-modal hidden">
                                            <div
                                                class="fc-modal-open:opacity-100 duration-500 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto flex flex-col bg-white border shadow-sm rounded-md dark:bg-slate-800 dark:border-gray-700">
                                                <div
                                                    class="flex justify-between items-center py-2.5 px-4 border-b dark:border-gray-700">
                                                    <h3 class="font-medium text-gray-800 dark:text-white text-lg">
                                                        Edit
                                                    </h3>
                                                    <button
                                                        class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 dark:text-gray-200"
                                                        data-fc-dismiss type="button">
                                                        <span class="material-symbols-rounded">close</span>
                                                    </button>
                                                </div>
                                                <form method="POST"
                                                    action="/admin/alumni-edit/<%= alumni.nisn %>/?_method=PUT">
                                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-3 px-4">

                                                        <div class="md:col-span-2">
                                                            <label for="nisn"
                                                                class="text-gray-800 text-sm font-medium inline-block mb-2">NISN
                                                                <span class="text-red-500">*</span></label>
                                                            <input type="text"
                                                                class="form-input text-black dark:text-white" id="nisn"
                                                                placeholder="Masukkan Nama Alumni " required
                                                                name="nisnBaru" value="<%= alumni.nisn %>">
                                                        </div>
                                                        <div class="md:col-span-2">
                                                            <label for="nama"
                                                                class="text-gray-800 text-sm font-medium inline-block mb-2">Nama
                                                                <span class="text-red-500">*</span></label>
                                                            <input type="text"
                                                                class="form-input text-black dark:text-white" id="nama"
                                                                placeholder="Masukkan Nama Alumni " required name="nama"
                                                                value="<%= typeof alumni.nama !== 'undefined' ? alumni.nama : '' %>">
                                                        </div>
                                                    </div>

                                                    <div class="flex gap-3 mt-2">
                                                        <div
                                                            class="flex justify-end items-center gap-4 p-4 dark:border-slate-700">
                                                            <button
                                                                class="btn dark:text-gray-200 border border-slate-200 dark:border-slate-700 hover:bg-slate-100 hover:dark:bg-slate-700 transition-all"
                                                                data-fc-dismiss type="button">Close</button>
                                                            <button type="submit"
                                                                class="btn bg-success text-white">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <!-- button ganti password -->
                                        <button class="btn bg-success/25 text-success hover:bg-success hover:text-white"
                                            data-fc-target="ganti-password" data-fc-type="modal" type="button">
                                            Ganti Password
                                        </button>
                                        <!-- modal ganti password -->
                                        <div id="ganti-password"
                                            class="w-full h-full mt-5 fixed top-0 left-0 z-50 transition-all duration-500 fc-modal hidden">
                                            <div
                                                class="fc-modal-open:opacity-100 duration-500 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto flex flex-col bg-white border shadow-sm rounded-md dark:bg-slate-800 dark:border-gray-700">
                                                <div
                                                    class="flex justify-between items-center py-2.5 px-4 border-b dark:border-gray-700">
                                                    <h3 class="font-medium text-gray-800 dark:text-white text-lg">
                                                        Ganti Password
                                                    </h3>
                                                    <button
                                                        class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 dark:text-gray-200"
                                                        data-fc-dismiss type="button">
                                                        <span class="material-symbols-rounded">close</span>
                                                    </button>
                                                </div>
                                                <form method="POST"
                                                    action="/admin/alumni-edit/password/<%= alumni.nisn %>/?_method=PUT">
                                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-3 px-4">
                                                        <div class="md:col-span-2">
                                                            <label for="password"
                                                                class="text-gray-800 text-sm font-medium inline-block mb-2">
                                                                Password <span class="text-red-500">*</span>
                                                            </label>
                                                            <input type="password"
                                                                class="form-input text-black dark:text-white"
                                                                id="password" placeholder="Masukkan Password Baru"
                                                                required name="password">
                                                        </div>
                                                        <div class="md:col-span-2">
                                                            <label for="confirmPassword"
                                                                class="text-gray-800 text-sm font-medium inline-block mb-2">
                                                                Konfirmasi Password <span class="text-red-500">*</span>
                                                            </label>
                                                            <input type="password"
                                                                class="form-input text-black dark:text-white"
                                                                id="confirmPassword"
                                                                placeholder="Masukkan Konfirmasi Password" required
                                                                name="confirmPassword">
                                                        </div>
                                                    </div>
                                                    <div class="flex gap-3 mt-2">
                                                        <div
                                                            class="flex justify-end items-center gap-4 p-4 dark:border-slate-700">
                                                            <button
                                                                class="btn dark:text-gray-200 border border-slate-200 dark:border-slate-700 hover:bg-slate-100 hover:dark:bg-slate-700 transition-all"
                                                                data-fc-dismiss type="button">Close</button>
                                                            <button type="submit"
                                                                class="btn bg-success text-white">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% if(tracerStudy.length> 0) { %>
                            <div class="col-span-2 mt-6">
                                <div class="card">
                                    <div class="p-6">
                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        mail
                                                    </span>
                                                    <label for="inputEmail4"
                                                        class="text-gray-800 text-sm font-medium inline-block">Email</label>
                                                </div>
                                                <input type="email"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputEmail4" placeholder="Email" name="email"
                                                    value="<%= tracerStudy[0].email %>" disabled>
                                            </div>

                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        event
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Tahun
                                                        Lulus</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    value="<%= tracerStudy[0].tahunLulus %>" disabled>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        sprint
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Kegiatan
                                                        setelah Lulus</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputState" placeholder="Kegiatan" name="kegiatan"
                                                    value="<%= tracerStudy[0].kegiatan %>" disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <% if(tracerStudy[0].kegiatan=="Bekerja" ) { %>
                                    <!-- bekerja -->
                                    <div class="card p-6 mt-6">
                                        <div id="bekerja" class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        apartment
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Nama
                                                        Perusahaan</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputState" placeholder="PT. ABC" name="namaPerusahaan"
                                                    value="<%= tracerStudy[0].kegiatanDetail.namaPerusahaan %>"
                                                    disabled>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        view_stream
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Alamat
                                                        Perusahaan</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputState" placeholder="Jl. ABC, No. 123, Jakarta"
                                                    name="alamatPerusahaan"
                                                    value="<%= tracerStudy[0].kegiatanDetail.alamatPerusahaan %>"
                                                    disabled>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        call
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Telepon
                                                        Perusahaan</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputState" placeholder="08123456789 (masukkan nomor saja)"
                                                    name="teleponPerusahaan"
                                                    value="<%= tracerStudy[0].kegiatanDetail.teleponPerusahaan %>"
                                                    disabled>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        variables
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Sektor
                                                        Perusahaan</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputState" placeholder="Teknologi" name="sektorPerusahaan"
                                                    value="<%= tracerStudy[0].kegiatanDetail.sektorPerusahaan %>"
                                                    disabled>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        person
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Posisi</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputState" placeholder="IT-Support" name="posisi"
                                                    value="<%= tracerStudy[0].kegiatanDetail.posisi %>" disabled>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span
                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                        event
                                                    </span>
                                                    <label for="inputState"
                                                        class="text-gray-800 text-sm font-medium inline-block">Tanggal
                                                        Masuk</label>
                                                </div>
                                                <input type="text"
                                                    class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                    id="inputState" name="tanggalMasukBekerja"
                                                    value="<%= new Date(tracerStudy[0].kegiatanDetail.tanggalMasuk).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>"
                                                    disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <% } else if(tracerStudy[0].kegiatan=="Melanjutkan Studi" ) { %>
                                        <!-- melanjutkan studi -->
                                        <div class="card p-6 mt-6">
                                            <div id="melanjutkanStudi" class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span
                                                            class="material-symbols-rounded text-gray-800 dark:text-white">
                                                            domain
                                                        </span>
                                                        <label for="inputState"
                                                            class="text-gray-800 text-sm font-medium inline-block">Nama
                                                            Universitas</label>
                                                    </div>
                                                    <input type="text"
                                                        class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                        id="inputState" placeholder="Universitas ABC"
                                                        name="namaUniversitas"
                                                        value="<%= tracerStudy[0].kegiatanDetail.namaUniversitas %>"
                                                        disabled>
                                                </div>
                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span
                                                            class="material-symbols-rounded text-gray-800 dark:text-white">
                                                            view_stream
                                                        </span>
                                                        <label for="inputState"
                                                            class="text-gray-800 text-sm font-medium inline-block">Alamat
                                                            Universitas</label>
                                                    </div>
                                                    <input type="text"
                                                        class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                        id="inputState" placeholder="Jl. ABC, No. 123, Jakarta"
                                                        name="alamatUniversitas"
                                                        value="<%= tracerStudy[0].kegiatanDetail.alamatUniversitas %>"
                                                        disabled>
                                                </div>
                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span
                                                            class="material-symbols-rounded text-gray-800 dark:text-white">
                                                            backpack
                                                        </span>
                                                        <label for="inputState"
                                                            class="text-gray-800 text-sm font-medium inline-block">Fakultas</label>
                                                    </div>
                                                    <input type="text"
                                                        class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                        id="inputState" placeholder="Ekonomi dan Bisnis" name="fakultas"
                                                        value="<%= tracerStudy[0].kegiatanDetail.fakultas %>" disabled>
                                                </div>
                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span
                                                            class="material-symbols-rounded text-gray-800 dark:text-white">
                                                            memory
                                                        </span>
                                                        <label for="inputState"
                                                            class="text-gray-800 text-sm font-medium inline-block">Program
                                                            Studi</label>
                                                    </div>
                                                    <input type="text"
                                                        class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                        id="inputState" placeholder="Akuntansi Keuangan Publik"
                                                        name="programStudi"
                                                        value="<%= tracerStudy[0].kegiatanDetail.programStudi %>"
                                                        disabled>
                                                </div>
                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span
                                                            class="material-symbols-rounded text-gray-800 dark:text-white">
                                                            event
                                                        </span>
                                                        <label for="inputState"
                                                            class="text-gray-800 text-sm font-medium inline-block">Tanggal
                                                            Masuk</label>
                                                    </div>
                                                    <input type="text"
                                                        class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                        id="inputState" name="tanggalMasukUniversitas"
                                                        value="<%= new Date(tracerStudy[0].kegiatanDetail.tanggalMasuk).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>"
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <% } else if(tracerStudy[0].kegiatan=="Berwirausaha" ) { %>
                                            <!-- Berwirausaha -->
                                            <div class="card p-6 mt-6">
                                                <div id="berwirausaha"
                                                    class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span
                                                                class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                domain
                                                            </span>
                                                            <label for="inputState"
                                                                class="text-gray-800 text-sm font-medium inline-block">Nama
                                                                Usaha</label>
                                                        </div>
                                                        <input type="text"
                                                            class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                            id="inputState" placeholder="Ayam Geprek ABC"
                                                            name="namaUsaha"
                                                            value="<%= tracerStudy[0].kegiatanDetail.namaUsaha %>"
                                                            disabled>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span
                                                                class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                view_stream
                                                            </span>
                                                            <label for="inputState"
                                                                class="text-gray-800 text-sm font-medium inline-block">Alamat
                                                                Usaha</label>
                                                        </div>
                                                        <input type="text"
                                                            class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                            id="inputState" placeholder="Jl. ABC, No. 123, Jakarta"
                                                            name="alamatUsaha"
                                                            value="<%= tracerStudy[0].kegiatanDetail.alamatUsaha %>"
                                                            disabled>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span
                                                                class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                call
                                                            </span>
                                                            <label for="inputState"
                                                                class="text-gray-800 text-sm font-medium inline-block">Telepon
                                                                Usaha</label>
                                                        </div>
                                                        <input type="text"
                                                            class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                            id="inputState" placeholder="021-1234567"
                                                            name="teleponUsaha"
                                                            value="<%= tracerStudy[0].kegiatanDetail.teleponUsaha %>"
                                                            disabled>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span
                                                                class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                variables
                                                            </span>
                                                            <label for="inputState"
                                                                class="text-gray-800 text-sm font-medium inline-block">Bidang
                                                                Usaha</label>
                                                        </div>
                                                        <input type="text"
                                                            class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                            id="inputState" placeholder="Makanan" name="bidangUsaha"
                                                            value="<%= tracerStudy[0].kegiatanDetail.bidangUsaha %>"
                                                            disabled>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span
                                                                class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                person
                                                            </span>
                                                            <label for="inputState"
                                                                class="text-gray-800 text-sm font-medium inline-block">Jumlah
                                                                Karyawan</label>
                                                        </div>
                                                        <input type="number"
                                                            class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                            id="inputState" placeholder="isi 1 jika belum ada"
                                                            name="jumlahKaryawan"
                                                            value="<%= tracerStudy[0].kegiatanDetail.jumlahKaryawan %>"
                                                            disabled>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span
                                                                class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                event
                                                            </span>
                                                            <label for="inputState"
                                                                class="text-gray-800 text-sm font-medium inline-block">Tanggal
                                                                Mulai Usaha</label>
                                                        </div>
                                                        <input type="text"
                                                            class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                            id="inputState" name="tanggalMulaiUsaha"
                                                            value="<%= new Date(tracerStudy[0].kegiatanDetail.tanggalMulai).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>"
                                                            disabled>
                                                    </div>
                                                </div>
                                            </div>

                                            <% } else if(tracerStudy[0].kegiatan=="Kursus" ) { %>
                                                <!-- kursus -->
                                                <div class="card p-6 mt-6">
                                                    <div id="kursus" class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                                        <div>
                                                            <div class="flex items-center gap-2 mb-2">
                                                                <span
                                                                    class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                    apartment
                                                                </span>
                                                                <label for="inputState"
                                                                    class="text-gray-800 text-sm font-medium inline-block">Nama
                                                                    Kursus</label>
                                                            </div>
                                                            <input type="text"
                                                                class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                                id="inputState" placeholder="Pemrograman Web"
                                                                name="namaKursus"
                                                                value="<%= tracerStudy[0].kegiatanDetail.namaKursus %>"
                                                                disabled>
                                                        </div>
                                                        <div>
                                                            <div class="flex items-center gap-2 mb-2">
                                                                <span
                                                                    class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                    view_stream
                                                                </span>
                                                                <label for="inputState"
                                                                    class="text-gray-800 text-sm font-medium inline-block">Alamat
                                                                    Kursus</label>
                                                            </div>
                                                            <input type="text"
                                                                class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                                id="inputState" placeholder="Jl. ABC, No. 123, Jakarta"
                                                                name="alamatKursus"
                                                                value="<%= tracerStudy[0].kegiatanDetail.alamatKursus %>"
                                                                disabled>
                                                        </div>
                                                        <div>
                                                            <div class="flex items-center gap-2 mb-2">
                                                                <span
                                                                    class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                    backpack
                                                                </span>
                                                                <label for="inputState"
                                                                    class="text-gray-800 text-sm font-medium inline-block">Bidang
                                                                    Kursus</label>
                                                            </div>
                                                            <input type="text"
                                                                class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                                id="inputState" placeholder="LPK Neptune Madiun "
                                                                name="bidangKursus"
                                                                value="<%= tracerStudy[0].kegiatanDetail.bidangKursus %>"
                                                                disabled>
                                                        </div>
                                                        <div>
                                                            <div class="flex items-center gap-2 mb-2">
                                                                <span
                                                                    class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                    event_upcoming
                                                                </span>
                                                                <label for="inputState"
                                                                    class="text-gray-800 text-sm font-medium inline-block">Tanggal
                                                                    Mulai</label>
                                                            </div>
                                                            <input type="text"
                                                                class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                                id="inputState" name="tanggalMulaiKursus"
                                                                value="<%= new Date(tracerStudy[0].kegiatanDetail.tanggalMulai).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>"
                                                                disabled>
                                                        </div>
                                                        <div>
                                                            <div class="flex items-center gap-2 mb-2">
                                                                <span
                                                                    class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                    event_available
                                                                </span>
                                                                <label for="inputState"
                                                                    class="text-gray-800 text-sm font-medium inline-block">Tanggal
                                                                    Selesai</label>
                                                            </div>
                                                            <input type="text"
                                                                class="form-input focus:border-primary text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                                id="inputState" name="tanggalSelesaiKursus"
                                                                value="<%= new Date(tracerStudy[0].kegiatanDetail.tanggalSelesai).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>"
                                                                disabled">
                                                        </div>
                                                    </div>
                                                </div>

                                                <% } else if(tracerStudy[0].kegiatan=="Belum Ada Kegiatan" ) { %>
                                                    <!-- belum ada kegiatan -->
                                                    <div class="card mt-6 p-6">
                                                        <div id="belumAdaKegiatan" class="grid-cols-1 gap-6">
                                                            <div>
                                                                <div class="flex items-center gap-2 mb-2">
                                                                    <span
                                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                        event_available
                                                                    </span>
                                                                    <label for="inputRencana"
                                                                        class="text-gray-800 text-sm font-medium inline-block">Kegiatan
                                                                        Yang Dilakukan Sekarang</label>
                                                                </div>
                                                                <textarea
                                                                    class="form-input text text-black dark:text-white bg-yellow-50 dark:bg-gray-700"
                                                                    rows="5" id="inputRencana"
                                                                    placeholder="Mempersiapkan pendaftaran perkuliahan"
                                                                    name="kegiatanDetail"
                                                                    disabled><%= tracerStudy[0].belumAdaKegiatanDetail %></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <div class="card mt-6 p-6">
                                                            <!-- feedback -->
                                                            <div id="feedback" class="grid-cols-1 gap-6">
                                                                <div class="flex items-center gap-2 mb-2">
                                                                    <span
                                                                        class="material-symbols-rounded text-gray-800 dark:text-white">
                                                                        forum
                                                                    </span>
                                                                    <label for="feedback"
                                                                        class="text-gray-800 text-sm font-medium inline-block">Feedback</label>
                                                                </div>
                                                                <textarea
                                                                    class="form-input text-black dark:text-white bg-yellow-50 dark:bg-gray-700 placeholder:text-black placeholder:dark:text-white"
                                                                    rows="5" name="feedbackDetail" rows="10"
                                                                    disabled><%= tracerStudy[0].feedback.pesan %></textarea>
                                                            </div>
                                                        </div>
                            </div>
                            <% } else { %>
                                <div class="col-span-2 mt-6">
                                    <div class="card">

                                        <div class="p-6">
                                            <h1 class="text-red-500 text-center text-xl dark:text-white">
                                                Alumni Ini
                                                belum mengisi form tracer study</a></h1>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <!-- Page Content End -->
                    </main>

                    <%- include('../../components/footer') %>
            </div>
    </div>

    <!-- Back to Top Button -->
    <button data-toggle="back-to-top"
        class="fixed hidden h-10 w-10 items-center justify-center rounded-full z-10 bottom-20 end-14 p-2.5 bg-primary cursor-pointer shadow-lg text-white">
        <i class="mgc_arrow_up_line text-lg"></i>
    </button>

    <!-- Plugin Js -->
    <script src="../../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../../assets/libs/feather-icons/feather.min.js"></script>
    <script src="../../assets/libs/%40frostui/tailwindcss/frostui.js"></script>

    <!-- App Js -->
    <script src="../../assets/js/app.js"></script>

    <script src="https://unpkg.com/gridjs/dist/gridjs.production.min.js"></script>
    <script>
        const alertSuccess = document.querySelector('.alert-success');
        if (alertSuccess) {
            setTimeout(() => {
                alertSuccess.remove();
            }, 2000);
        }
        const alertError = document.querySelector('.alert-error');
        if (alertError) {
            setTimeout(() => {
                alertError.remove();
            }, 2000);
        }
    </script>

</body>

</html>