<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="coderthemes" name="author">

    <!-- App favicon -->
    <link href="../assets/images/smk-bp.png" rel="icon" type="image/png">

    <!-- App css -->
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css">

    <!-- Icons css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- Theme Config Js -->
    <script src="../assets/js/config.js"></script>
</head>

<body>

    <div class="flex wrapper">
        <%- include('../../components/sidebar_admin') %>

            <div class="page-content">
                <%- include ('../../components/topbar_admin') %>

                    <main class="flex-grow p-6">

                        <!-- Page Title Start -->
                        <div class="flex items-center">
                            <!-- button back -->
                            <a href="/admin" class="btn btn-ghost">
                                <i class="mgc_left_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                            </a>

                            <h4 class="text-slate-700 dark:text-slate-200 text-lg font-medium">
                                Profile
                            </h4>
                        </div>
                        <!-- Page Title End -->

                        <!-- Page Content Start -->
                        <div class="grid grid-cols-1 gap-6 mt-3">
                            <div class="col-span-12">
                                <div class="card">
                                    <div class="card-body p-6">
                                        <div class="grid grid-cols-1 md:grid-cols-2  gap-6 mb-3 mt-3">
                                            <div>
                                                <p
                                                    class="text-gray-800 text-sm font-medium inline-block mb-2 dark:text-slate-400">
                                                    Nama</p>
                                                <h2 class="dark:text-white">
                                                    <%= admin.nama %>
                                                </h2>
                                            </div>



                                            <div>
                                                <p
                                                    class="text-gray-800 text-sm font-medium inline-block mb-2 dark:text-slate-400">
                                                    Password</p>
                                                <h2 id="passwordDisplay"
                                                    class="dark:text-white flex-grow cursor-pointer"
                                                    data-password="<%= admin.password %>">
                                                    <%= admin.password %>
                                                </h2>
                                            </div>

                                            <div>
                                                <p
                                                    class="text-gray-800 text-sm font-medium inline-block mb-2 dark:text-slate-400">
                                                    Email</p>
                                                <h2 class="dark:text-white">
                                                    <%= admin.email || 'Kosong' %>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>

                    <%- include('../../components/footer') %>
            </div>

    </div>

    <!-- Back to Top Button -->
    <button data-toggle="back-to-top"
        class="fixed hidden h-10 w-10 items-center justify-center rounded-full z-10 bottom-20 translate-x-52 end-14 p-2.5 bg-primary cursor-pointer shadow-lg text-white">
        <i class="mgc_arrow_up_line text-lg"></i>
    </button>

    <script>
        // hide password
        const password = document.getElementById('passwordDisplay').dataset.password;
        const passwordDisplay = document.getElementById('passwordDisplay');
        // Fungsi untuk menyembunyikan password dengan bintang
        function hidePassword() {
            passwordDisplay.textContent = '*'.repeat(password.length);
        }

        passwordDisplay.addEventListener('mouseover', () => {
            passwordDisplay.textContent = password;
        })

        passwordDisplay.addEventListener('mouseout', () => {
            hidePassword();
        })

        hidePassword();
    </script>

    <!-- Plugin Js -->
    <!-- Apex Chart Plugin Js -->
    <script src="../assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Apex Chart Demo Js -->
    <script src="../assets/js/pages/charts-apex.js" type="text/javascript"></script>

    <!-- Plugin Js -->
    <script src="../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../assets/libs/feather-icons/feather.min.js"></script>
    <script src="../assets/libs/%40frostui/tailwindcss/frostui.js"></script>

    <!-- App Js -->
    <script src="../assets/js/app.js"></script>

</body>

</html>